.result-card{
    div{
        &.content{
            max-height: calc(100vh - 212px);
        }
        &.content-scroll{
            overflow-y: auto;
        }
    }
}

.preview{
    tr{
        &.new{
            // background-color: theme-color(success);
            background-color: #e6ffe6;
        }
    }
}

.bootstrap-table{
    .fixed-table-container {
        .table{
            &.table-sm{
                .th-inner{
                    padding: 0.775rem 0.675rem;
                }
            }
        }
    }
}