.navbar,
.sidebar {
    display: none !important;
}

.page-body-wrapper{
    padding-top: 0;
}

.main-panel {
    width: 100%;
    background-color: transparent;
}

.content-wrapper{
    background: transparent !important;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.footer{
    background: transparent;
    border-top: 1px solid #eee;
}

/* Breadcrumb Select2 */
.select2-container{
    &.area-dropdown,
    &.source-multiple,
    &.source-dropdown,
    &.impact-dropdown,
    &.initiator-dropdown,
    &.hpa-dropdown,
    &.police-dropdown{
        border: none;
    }
}

.select2-container{
    &.area-dropdown,
    &.source-dropdown,
    &.impact-dropdown,
    &.initiator-dropdown,
    &.hpa-dropdown,
    &.police-dropdown{
        .select2-choice{
            padding: 0;
            .select2-arrow{
                display: none;
                b{
                    display: none;
                }
            }
            >.select2-chosen{
                margin-right: 0;
            }
        }
    }
}

.area-dropdown.unselected {
    display: none;
}

.select2-container-multi{
    &.source-multiple{
        .select2-choices{
            .select2-search-choice{
                background-color: transparent;
                padding-left: 5px;
            }
        }
        .select2-search-choice-close{
            display: none;
        }
    }
}

/* Daterange */
#reportrange{
    border: none;
}

// * { 
//     float: none !important; 
//     overflow: initial !important;
//   }


// .stretch-card,
// .card{
//     display: block;
// }


// .ch-size{
//     height: 400px;
//     page-break-after: always;
//     page-break-inside: avoid;
//     -webkit-region-break-after: always;
//     -webkit-region-break-inside: avoid;
//     break-after: always;
//     break-inside: avoid;
//     display: block;
//     float: none;
//     overflow: initial !important;
// }

/* Highcharts */
.highcharts-exporting-group{
    display: none;
}