{% extends "account/_base_acc.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block content_dashboard %}
    <div class="row">
        <div class="col-xl-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "E-mail Addresses" %}</h4>
                    {% if user.emailaddress_set.all %}
                        <p class="card-description">
                            {% trans 'The following e-mail addresses are associated with your account:' %}
                        </p>
                        <form action="{% url 'account_email' %}" class="" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                {% for emailaddress in user.emailaddress_set.all %}
                                    <div class="form-check">
                                        <label class="form-check-label {% if emailaddress.primary %}primary_email{%endif%}">
                                            <input type="radio" class="form-check-input" name="email" id="email_radio_{{forloop.counter}}" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"> {{ emailaddress.email }}
                                            {% if emailaddress.verified %}
                                                &nbsp;(Verified)&nbsp;
                                            {% else %}
                                                (Not Verified!) &nbsp;
                                            {% endif %}
                                            {% if emailaddress.primary %}
                                                Primary Email
                                            {% endif %}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit" name="action_primary">{% trans 'Make Primary' %}</button>
                                <button class="btn btn-outline-primary" type="submit" name="action_send">{% trans 'Re-send Verification' %}</button>
                                <button class="btn btn-danger" type="submit" name="action_remove">{% trans 'Remove' %}</button>
                            </div>
                        </form>
                    {% else %}
                        <p class="card-description">
                            <strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xl-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "Add New E-mail Address" %}</h4>
                    <p class="card-description">
                        {% trans "Add alternative e-mail address to your account" %}
                    </p>
                    <form method="post" class="" id="email_form" action="{% url 'account_email' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.email |attr:"class:form-control form-control-lg" }}
                        </div>
                        <button class="btn btn-block btn-primary" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content_dashboard %}

{% block dashboard_script %}
    <script type="text/javascript">
        (function() {
        var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
        var actions = document.getElementsByName('action_remove');
        if (actions.length) {
            actions[0].addEventListener("click", function(e) {
                if (! confirm(message)) {
                    e.preventDefault();
                }
            });
        }
        })();
    </script>
{% endblock %}