{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% else %}

    {% block content %}
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <h4>{% trans "Reset Password" %}</h4>
                            <h6 class="font-weight-light">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</h6>
                            <form method="POST" class="pt-3" id="forgot_password_form" action="{% url 'account_reset_password' %}">
                                {% csrf_token %}

                                {% for field in form.visible_fields %}
                                <div class="form-group">
                                    {% if form.is_bound %}
                                        {% if field.errors %}
                                            {% render_field field class="form-control form-control-lg is-invalid" %}
                                            {% for error in field.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field field class="form-control form-control-lg is-valid" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field field class="form-control form-control-lg" %}
                                    {% endif %}
                                </div>
                                {% endfor %}
                                
                                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">{% trans 'Reset My Password' %}</button>
                            </form>
                            <h6 class="text-center mt-4 font-weight-light">
                                {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
    {% endblock %}

{% endif %}