{% extends "account/_base_acc.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content_dashboard %}
    <div class="row">
        <div class="col-xl-6 grid-margin stretch-card mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "Change Password" %}</h4>
                    <p class="card-description">
                        {% trans "Change the password of your account" %}
                    </p>
                    <form method="POST" action="{% url 'account_change_password' %}" class="" id="change_password_form">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.oldpassword.label_tag }}
                            {{ form.oldpassword |attr:"class:form-control form-control-lg" }}

                            {% for error in form.oldpassword.errors %}
                                <small class="form-text text-muted">{{ error }}</small>
                            {% endfor %}
                            {% if form.oldpassword.help_text %}
                                <small class="form-text text-muted">{{ form.oldpassword.help_text }}</small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password1.label_tag }}
                            {{ form.password1 |attr:"class:form-control form-control-lg" }}

                            {% for error in form.password1.errors %}
                                <small class="form-text text-muted">{{ error }}</small>
                            {% endfor %}
                            {% if form.password1.help_text %}
                                <small class="form-text text-muted">{{ form.password1.help_text }}</small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password2.label_tag }}
                            {{ form.password2 |attr:"class:form-control form-control-lg" }}

                            {% for error in form.password2.errors %}
                                <small class="form-text text-muted">{{ error }}</small>
                            {% endfor %}
                            {% if form.password2.help_text %}
                                <small class="form-text text-muted">{{ form.password2.help_text }}</small>
                            {% endif %}
                        </div>
                        <button class="btn btn-block btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content_dashboard %}