{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

    {% block content %}
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <h4>{% trans "Password Reset Email Sent." %}</h4>
                            {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                                {% block content_extra %} {% endblock %}
                            {% else %}
                                <h6 class="text-center mt-4 font-weight-light">
                                    {% blocktrans %}
                                    We have sent you an e-mail. Please contact us if you do not receive it within a few minutes. <br><br> You will be redirected to <a href="/accounts/login">Sign In</a> page in 5 seconds.
                                    {% endblocktrans %}
                                </h6>
                                <script>
                                    setTimeout("location.href = '{% url 'account_login' %}';",5000);
                                </script>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
    {% endblock %}