{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <h4>{% trans "Change Password" %}</h4>

                        <h6 class="text-center mt-4 font-weight-light">
                            {% trans 'Your password is now changed. You will be redirected to login page in 5 seconds.' %}
                        </h6>
                        <script>
                            setTimeout("location.href = '{% url 'account_login' %}';",5000);
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
{% endblock %}