{% load  static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    {% block head %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/css/materialdesignicons.min.css">
      <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
      <!-- <link rel="stylesheet" href="{% static 'css/materialdesignicon-add.css' %}"> -->

      {% block extra_head %}{% endblock %}
      <link rel="stylesheet" href="{% static 'css/bundle.css' %}">
    {% endblock  %}
  </head>
  <body>
    {% block messages %}{% endblock messages %}
    <div class="container-scroller">
      {% block content %}
      {% endblock content %}
    </div>
    <!-- container-scroller -->

    <!-- <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
    {% block extra_script %}{% endblock extra_script %}
  </body>
</html>