{% load i18n %}

<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}?page=dashboard">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">{% trans "Dashboard" %}</span>
            </a>
        </li>
        {% if user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'inputdashboard' %}">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">{% trans "Input New Data" %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'importdata' %}">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">{% trans "Import data" %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'importdataundss' %}">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">{% trans "Import data undss" %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'importdataprovince' %}">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">{% trans "Import data province" %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'importdatadistrict' %}">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">{% trans "Import data district" %}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>