{% extends "dashboard/dashboard_base.html" %}

{% load i18n %}
{% load static %}
{% load giz_tags %}


{% block extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block extra_head_custom %}
    {% if 'print' in request.build_absolute_uri %}
        <!-- <link href="{% static 'css/giz_print_grid.css' %}?ver=130420" rel="stylesheet"> -->
        <link href="{% static 'css/giz_print.css' %}?ver=130420" rel="stylesheet">
	{% endif %}
{% endblock %}

{% block content_dashboard %}
    <div class="row">
        <div class="col-12 col-sm-12 col-xl-6 {% if 'print' in request.path %}col-md-6{% else %}col-md-12 {% endif %}">
            {% include "dashboard/select_region.html" %}
        </div>
        <div class="col-12 col-sm-12 col-xl-4 {% if 'print' in request.path %}col-md-6{% else %}col-md-10{% endif %}">
            <div id="reportrange" class="float-right">
                <i class="mdi mdi-calendar"></i>&nbsp; {% trans "Incident between" %} :
                <span></span> <i class="mdi mdi-chevron-down {% if 'print' in request.path %}d-none{% endif %}"></i>
            </div>
        </div>

        <div class="col-sm-12 col-md-2 col-xl-1 {% if 'print' in request.path %}d-none{% endif %}">
            <button id="pdf" type="button" class="btn btn-primary mb-3" style="margin-top: 9px;">{% trans "PDF" %}</button>
        </div>
        
        <div class="col-sm-12 col-md-2 col-xl-1 {% if 'print' in request.path %}d-none{% endif %}">
            <button id="csv" type="button" class="btn btn-primary mb-3" style="margin-top: 9px;">{% trans "CSV" %}</button>
        </div>
        
        <div class="col-12 col-sm-12 col-xl-2 mb-3 {% if 'print' in request.path %}col-md-3{% else %}col-md-6{% endif %}">
            {% include "dashboard/select_source.html" %}
        </div>

        <div class="col-12 col-sm-12 col-xl-2 mb-3 {% if 'print' in request.path %}col-md-3{% else %}col-md-6{% endif %}">
            {% include "dashboard/select_initiator.html" %}
        </div>

        <div class="col-12 col-sm-12 col-xl-2 mb-3 {% if 'print' in request.path %}col-md-3{% else %}col-md-6{% endif %}">
            {% include "dashboard/select_hpa.html" %}
        </div>

        {% if region.province.selected == 'Kabul' %}
        <div class="col-12 col-sm-12 col-xl-3 mb-3 {% if 'print' in request.path %}col-md-3{% else %}col-md-4{% endif %}">
            {% include "dashboard/select_police_dist.html" %}
        </div>
        {% endif %}

    </div>
    
    <div class="row">
        {% for k, v  in total.items %}
        <div class="col-12 col-sm-12 col-lg-6 col-xl-3 {% if 'print' in request.path %}col-md-3{% else %}col-md-6{% endif %} d-flex grid-margin stretch-card">
            <div class="card {% if k|lower == 'injured' %}sale-visit-statistics-border{% elif k|lower == 'abducted' %}total-abducted-statistics-border{% elif k == 'incident' %}total-incident-statistics-border{% else %}sale-diffrence-border{% endif %}">
                <div class="card-body">
                    <h2 class="text-dark mb-2 font-weight-bold">{{ v }}</h2>
                    <h4 class="card-title mb-2">{% trans "Total" %} {{k}}</h4>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="col-12 col-sm-12 col-xl-6 {% if 'print' in request.path %}col-md-8 d-block{% else %}col-md-12 col-lg-12  grid-margin stretch-card{% endif %}">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans chart.polar_incident_type.title %}</h4>
                    <div id="{{ chart.polar_incident_type.key }}" class="ch-size polar-chart" data-color="colorPolar" data-xaxis='{{ chart.polar_incident_type.labels | jsonify | safe }}' data-val='{{ chart.polar_incident_type.data_val | jsonify | safe }}'></div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-lg-12 col-xl-6 {% if 'print' in request.path %}col-md-4{% else %}col-md-12{% endif %} grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "Select Incident Type" %}</h4>
                        <div class="form-group row">
                            <div class="col">
                                <p class="mb-2" style="position: absolute;left: 75px;">{% trans "Select All" %}</p>
                                <label class="toggle-switch parents-checkbox">
                                    <input type="checkbox" {% if incident_type.checked == incident_type.name %}checked=true{% endif %}>
                                    <span class="toggle-slider round"></span>
                                </label>
                            </div>
                            <div class="col">
                                <button type="button" name="" id="" class="btn btn-outline-primary btn-sm float-right ply-trget">{% trans "Apply" %}</button>
                            </div>
                        </div> 
                        {% get_current_language_bidi as LANGUAGE_BIDI %}
                        <div id="indicatorType" class="child-checkbox">
                            <div class="form-group">
                                {% for item in filters.incident_type.options %}
                                <div class="form-check form-check-incident-type">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input checkIncident" id="incident{{ forloop.counter0 }}" name="main_incident_select[]" value="{{ item.id }}" {% if item.id in filters.incident_type.checked %}checked=true{% endif %}> 
                                        {{ item.name }}
                                    </label>
                                </div>
                                {% for subtype in filters.incident_subtype.options %}
                                {% if item.id == subtype.incidenttype %}
                                <div class="form-check ml-4 {% if item.id not in filters.incident_type.checked or filters.incident_type.checked|length > 1 %}d-none{% endif %} form-check-incident-subtype">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input checkIncidentSubtype" id="incidentsubtype{{ forloop.counter0 }}" name="incident_subtype_select[]" value="{{ subtype.id }}" data-parentid="{{ item.id }}" {% if subtype.id in filters.incident_subtype.checked %}checked=true{% endif %}> 
                                        {{ subtype.name }}
                                    </label>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ chart.bar_chart_incident.title }}</h4>
                    <div id="{{ chart.bar_chart_incident.key }}" class="ch-size bar-chart" data-color="colorDefault" data-colorpoint="false" data-legend="true" data-yaxis='{{ chart.bar_chart_incident.labels | jsonify | safe }}' data-val='{{ chart.bar_chart_incident.data_val | jsonify | safe }}' ></div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-xl-6 {% if 'print' in request.path %}col-md-8 d-block{% else %}col-md-12 col-lg-12  grid-margin stretch-card{% endif %}">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "Graph of Incident and Casualties Trend by Target Type" %}</h4>
                    <div id="{{ chart.polar_target_type.key }}_id" class="ch-size polar-chart" data-color="colorPolar" data-xaxis='{{ chart.polar_target_type.labels | jsonify | safe }}' data-val='{{ chart.polar_target_type.data_val | jsonify | safe }}'></div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-lg-12 col-xl-6 {% if 'print' in request.path %}col-md-4{% else %}col-md-12{% endif %} grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "Select Target Type" %}</h4>
                        <div class="form-group row">
                            <div class="col">
                                <p class="mb-2" style="position: absolute;left: 75px;">{% trans "Select All" %}</p>
                                <label class="toggle-switch parents-checkbox">
                                    <input type="checkbox" {% if filters.target_type.checked == filters.target_type.name %}checked=true{% endif %}>
                                    <span class="toggle-slider round"></span>
                                </label>
                            </div>
                            <div class="col">
                                <button type="button" name="" id="" class="btn btn-outline-primary btn-sm float-right ply-trget">{% trans "Apply" %}</button>
                            </div>
                        </div> 
                        {% get_current_language_bidi as LANGUAGE_BIDI %}
                        <div id="indicatorType" class="child-checkbox">
                            <div class="form-group">
                                {% for item in filters.target_type.name %}
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input checkTarget" id="target{{ forloop.counter0 }}" name="main_target_select[]" value="{{ item.id }}" {% if item.id in filters.target_type.checked %}checked=true{% endif %}> 
                                        {{ item.code }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ chart.bar_chart_target.title }}</h4>
                    <div id="{{ chart.bar_chart_target.key }}_id" class="ch-size bar-chart" data-color="colorDefault" data-colorpoint="false" data-legend="true" data-yaxis='{{ chart.bar_chart_target.labels | jsonify | safe }}' data-val='{{ chart.bar_chart_target.data_val | jsonify | safe }}' ></div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "Historical Date of Incidents and Casualties by Incident Type" %}</h4>
                    <div id="spline_{{ chart.spline.key }}" class="ch-size spline-chart" data-color="colorDefault" data-colorpoint="false" data-legend="true" data-yaxis='' data-val='{{ chart.spline.data_val | jsonify | safe }}' ></div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-12 col-md-12 col-lg-12 col-xl-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans tables.incidents_and_casualties_by_incident_type.title %}</h4>
                    <p class="card-description">
                        {% trans "An overview of number incidents and casualties occured  in Afghanistan grouped by incident type." %}
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover {% if 'print' in request.build_absolute_uri %}print{% else %}online{% endif %}">
                            <thead>
                                <tr>
                                    <th>{% trans "Incident Type" %}</th>
                                    <th>{% trans "Killed" %}</th>
                                    <th>{% trans "Injured" %}</th>
                                    <th>{% trans "Abducted" %}</th>
                                    <th>{% trans "Incident" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in tables.incidents_and_casualties_by_incident_type.values %}
                                    <tr>
                                        <td>{{ item.incident_name }}</td>
                                        <td>{{ item.killed }}</td>
                                        <td>{{ item.injured }}</td>
                                        <td>{{ item.abducted }}</td>
                                        <td>{{ item.total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% comment %}
        <div class="col-lg-12 grid-margin stretch-card d-none">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Description Table Killed</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="3">{% trans "Incident Type" %}</th>
                                    <th rowspan="3">{% trans "Incident Sub Type" %}</th>
                                    <th colspan="7">{% trans "Killed" %}</th>
                                </tr>
                                <tr>
                                    <th>{% trans "Civilians" %}</th>
                                    <th>{% trans "ANP" %}</th>
                                    <th>{% trans "ANA/ANSF" %}</th>
                                    <th>{% trans "IM" %}</th>
                                    <th>{% trans "PGM/ALP" %}</th>
                                    <th>{% trans "AOG" %}</th>
                                    <th>{% trans "ISKP" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% trans "AOG_Attack" %}</td>
                                    <td>{% trans "Checkpoint Attack" %}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card d-none">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Description Table Injured</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="3">{% trans "Incident Type" %}</th>
                                    <th rowspan="3">{% trans "Incident Sub Type" %}</th>
                                    <th colspan="7">{% trans "Injured" %}</th>
                                </tr>
                                <tr>
                                    <th>{% trans "Civilians" %}</th>
                                    <th>{% trans "ANP" %}</th>
                                    <th>{% trans "ANA/ANSF" %}</th>
                                    <th>{% trans "IM" %}</th>
                                    <th>{% trans "CDF/ATM/ALP" %}</th>
                                    <th>{% trans "AOG" %}</th>
                                    <th>{% trans "ISKP" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jacob</td>
                                    <td>Photoshop</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card d-none">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Description Table Killed</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="3">{% trans "Incident Type" %}</th>
                                    <th rowspan="3">{% trans "Incident Sub Type" %}</th>
                                    <th colspan="5">{% trans "Abducted" %}</th>
                                </tr>
                                <tr>
                                    <th>{% trans "Civilians" %}</th>
                                    <th>{% trans "Field30" %}</th>
                                    <th>{% trans "ANA/ANSF" %}</th>
                                    <th>{% trans "Field32" %}</th>
                                    <th>{% trans "PGM/ALP" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jacob</td>
                                    <td>Photoshop</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "Number of Incident and Casualties Overview" %}</h4>
                    <p class="card-description">
                        {% trans "An overview of number incidents and casualties grouped by region. Clicking on any region below will redirect you to more details statistics." %}
                    </p>
                    <div class="table-responsive">
                        <table id="" class="table table-bordered table-hover {% if 'print' in request.build_absolute_uri %}print{% else %}online{% endif %}">
                            <thead>
                                <tr>
                                    <th >{% trans "Region" %}</th>
                                    <th class="hum">{% trans "Incidents" %}</th>
                                    <th class="hum">{% trans "Abducted" %}</th>
                                    <th class="hum">{% trans "Injured" %}</th>
                                    <th class="hum">{% trans "Killed" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for child in tables.number_of_incident_and_casualties_overview.child %}

                                    {% if 'Afghanistan' in tables.number_of_incident_and_casualties_overview.parentdata.0 %}
                                        <tr class="selectable" onclick="jump_url('prov={{child.id}}');">
                                    {% else %}
                                        <tr class="selectable" onclick="jump_url('dist={{child.id}}');">
                                    {% endif %}
                                        {% for item in child.value %}
                                            <td>{{item}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    {% for item in tables.number_of_incident_and_casualties_overview.parentdata %}
                                        <th class="{% if forloop.counter0 == 0 %}{% else %}hum{% endif %}">{{item}}</th>
                                    {% endfor %}
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "List of Incidents" %}</h4>
                    <p class="card-description">
                        {% trans "Summary of all of incidents occured in Afghanistan. Clicking any of the incident below will redirect you to the details page." %}
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover {% if 'print' in request.build_absolute_uri %}print{% else %}online{% endif %}">
                            <thead>
                                <tr>
                                    <th>{% trans "Incident Date" %}</th>
                                    <th>{% trans "Time of Incident" %}</th>
                                    <th>{% trans "Description" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in tables.list_of_latest_incidents %}
                                    <tr onclick="window.document.location ='/undssdetail/{{item.id}}' ">
                                        <td>{{ item.Date |date:'M j, Y' }}</td>
                                        <td>{{ item.Time_of_Incident }}</td>
                                        <td>{{ item.Description_of_Incident }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock content_dashboard %}

{% block dashboard_script %}
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <!-- Daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"></script>
    
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script> -->
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <!-- <script src="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css"></script> -->
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>

    <!-- Highcharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.1.0/highstock.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.1.0/highcharts-more.js"></script>
    <script>
        var jsondata = {% if jsondata %}{{ jsondata|safe }}{% else %}{}{% endif %};
        {% if 'print' in request.path %}
            var animate= false;
        {% else %}
            var animate= true;
        {% endif %}
    </script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <!-- <script src="{% static 'js/security.js' %}"></script> -->
    <script>
        document.addEventListener('DOMContentLoaded', function(){

            // Select All/None
                $('.parents-checkbox :checkbox').change(function () {
                    $('.form-check-incident-subtype:not(.d-none)').addClass('d-none').prop('checked', false);
                    $(this).closest('.card-body').find(':checkbox').not(this).prop('checked', this.checked);
                });

                $('.child-checkbox :checkbox').change(function () {
                    var $group = $(this).closest('.card-body');
                    $group.find('.parents-checkbox :checkbox').prop('checked', !$group.find('.child-checkbox :checkbox:not(:checked)').length);
                });
            // /Select All/None

            // show incident subtype when only 1 incident type selected
            // hide incident subtype when more than 1 incident type selected
            $('.child-checkbox :checkbox.checkIncident').change(function (e) {
                var checked = $('.child-checkbox :checkbox:checked.checkIncident');
                if (checked.length == 1) {
                    var ckb_subtype = $(`.child-checkbox :checkbox.checkIncidentSubtype[data-parentid=${checked[0].value}]`);
                    $('.child-checkbox :checkbox:checked.checkIncidentSubtype').prop('checked', false);
                    if (checked[0].checked) {ckb_subtype.closest('.form-check').removeClass('d-none')};
                    ckb_subtype.prop('checked', checked[0].checked);
                }
                else {
                    $('.form-check-incident-subtype:not(.d-none)').addClass('d-none');
                }
            });

            // DateRangePicker
            var daterange = getParameterByName("daterange");
            if (daterange == null){
                var start = moment().subtract(365, 'days');
                var end = moment();
            } else {
                var dateVar = daterange.split(',');
                var start = moment(new Date(dateVar[0].substr(0, 4), parseInt(dateVar[0].substr(5, 2))-1, dateVar[0].substr(8, 2)));
                var end = moment(new Date(dateVar[1].substr(0, 4), parseInt(dateVar[1].substr(5, 2))-1, dateVar[1].substr(8, 2)));;
            }

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                '{% trans 'Today' %}': [moment(), moment()],
                '{% trans 'Yesterday' %}': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '{% trans 'Last 7 Days' %}': [moment().subtract(6, 'days'), moment()],
                '{% trans 'Last 30 Days' %}': [moment().subtract(29, 'days'), moment()],
                '{% trans 'This Month' %}': [moment().startOf('month'), moment().endOf('month')],
                '{% trans 'Last Month' %}': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                '{% trans 'Last Year' %}': [moment().subtract(365, 'days'), moment()]
                }
            }, cb);

            cb(start, end);

            $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                var url = $(location).attr("href");
                if (daterange == null){
                window.document.location = url+'&daterange='+picker.startDate.format('YYYY-MM-DD')+','+picker.endDate.format('YYYY-MM-DD');
                }  else {
                // url = url.replace(/(daterange=).*?(&)/,'$1' + picker.startDate.format('YYYY-MM-DD')+','+picker.endDate.format('YYYY-MM-DD') + '$2');
                url = updateUrlParameter(url, 'daterange', picker.startDate.format('YYYY-MM-DD')+','+picker.endDate.format('YYYY-MM-DD'))

                window.document.location = url;
                }
            });
            // /DateRangePicker

            $('button.ply-trget').on('click', function(event) {
                var type_selected_param = '';
                // var target_selected_param = '';

                var type_unselected = $("input[name='main_incident_select[]']:checkbox:not(:checked)");
                var type_selected = $("input[name='main_incident_select[]']:checkbox:checked");

                // var target_unselected = $("input[name='main_target_select[]']:checkbox:not(:checked)");
                // var target_selected = $("input[name='main_target_select[]']:checkbox:checked");

                console.log(type_selected);

                if (type_unselected.length > 0) {
                    // var type_array = type_selected.val();
                    var type_array = [];
                    type_selected.each( function () {
                    type_array.push($(this).val());
                    });
                    type_selected_param += type_array;
                }


                // if (target_unselected.length > 0) {
                //     // var target_array = $('#incidentTarget-select').val();
                //     var target_array = [];
                //     target_selected.each( function () {
                //     target_array.push($(this).val());
                //     });
                //     target_selected_param += target_array
                // }

                if (type_selected.length == 0) {
                    type_selected_param = 'noselection';
                }

                // if (target_selected.length == 0) {
                //     target_selected_param = 'noselection';
                // }

                var url = $(location).attr("href");

                if (type_selected_param != ''){
                    if (getParameterByName("incident_type") == null){
                        url += '&incident_type='+type_selected_param;
                    } else {
                        url = updateUrlParameter(url, 'incident_type', type_selected_param);
                    }

                } else {
                    url = removeParam('incident_type', url);
                }
                
                // modify incident_type url param
                var incident_checked = $("input[name='main_incident_select[]']:checkbox:checked");
                var incident_unchecked = $("input[name='main_incident_select[]']:checkbox:not(:checked)");
                url = removeParam('incident_type', url);
                if ((incident_checked.length != 0) && (incident_unchecked.length != 0)) {
                    var str_incident_type = $.map(incident_checked, x => x.value).toString();
                    url = updateUrlParameter(url, 'incident_type', str_incident_type);
                }

                // modify incident_subtype url param
                url = removeParam('incident_subtype', url);
                if (type_selected.length == 1) {
                    var str_incident_subtype = $.map($('.child-checkbox :checkbox:checked.checkIncidentSubtype'), x => x.value).toString();
                    url = updateUrlParameter(url, 'incident_subtype', str_incident_subtype);
                }    

                // modify target_type url param
                var target_checked = $("input[name='main_target_select[]']:checkbox:checked");
                var target_unchecked = $("input[name='main_target_select[]']:checkbox:not(:checked)");
                url = removeParam('target_type', url);
                if ((target_checked.length != 0) && (target_unchecked.length != 0)) {
                    var str_target_type = $.map(target_checked, x => x.value).toString();
                    url = updateUrlParameter(url, 'target_type', str_target_type);
                }

                // if (target_selected_param != ''){
                //     if (getParameterByName("incident_target") == null){
                //         url += '&incident_target='+target_selected_param;
                //     } else {
                //         url = updateUrlParameter(url, 'incident_target', target_selected_param)
                //     }

                // } else {
                //     url = removeParam('incident_target', url);
                // }

                window.document.location = url;
            });
        });
    </script>
{% endblock dashboard_script %}