{% load i18n %}
{% load  static %}

{% block content_dashboard %}
    <div>
        {% include "dashboard/select_region.html" %}
    </div>
    <div class="row">
        <div class="col-lg-3 d-flex grid-margin stretch-card">
            <div class="card sale-diffrence-border">
                <div class="card-body">
                    <h2 class="text-dark mb-2 font-weight-bold">6475</h2>
                    <h4 class="card-title mb-2">{% trans "Total Incidents" %}</h4>
                    <small class="text-muted">APRIL 2020</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex grid-margin stretch-card">
            <div class="card sale-visit-statistics-border">
                <div class="card-body">
                    <h2 class="text-dark mb-2 font-weight-bold">3479</h2>
                    <h4 class="card-title mb-2">{% trans "Total Killed" %}</h4>
                    <small class="text-muted">APRIL 2020</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex grid-margin stretch-card">
            <div class="card sale-diffrence-border">
                <div class="card-body">
                    <h2 class="text-dark mb-2 font-weight-bold">6475</h2>
                    <h4 class="card-title mb-2">{% trans "Total Injured" %}</h4>
                    <small class="text-muted">APRIL 2020</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex grid-margin stretch-card">
            <div class="card sale-visit-statistics-border">
                <div class="card-body">
                    <h2 class="text-dark mb-2 font-weight-bold">3479</h2>
                    <h4 class="card-title mb-2">{% trans "Total Abducted" %}</h4>
                    <small class="text-muted">APRIL 2020</small>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "Graph of Incident and Casualties Trend by Incident Type" %}</h4>
                    <div id="chart_polar_graph_of_incident_and_casualties_trend_by_incident_type" class="ch-size polar-chart" data-color="colorSecurity" data-xaxis='["Armed Opposition Group", "Civilians", "Government", "Humanitarian Community", "Infrastructure", "International Humanitarian Community", "International Military", "Police / Military Government", "Unknown"]' data-val='[{"data": [845, 764, 695, 70, 15, 11, 18, 5311, 66], "type": "Incidents"}, {"data": [55, 929, 373, 97, 17, 7, 16, 4660, 7], "type": "Dead"}, {"data": [], "type": "Injured"}, {"data": [], "type": "Violent"}]'></div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Description Table</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{% trans "Incident Type" %}</th>
                                    <th>{% trans "Police District" %}</th>
                                    <th>{% trans "Initiator" %}</th>
                                    <th>{% trans "Target" %}</th>
                                    <th>{% trans "Killed" %}</th>
                                    <th>{% trans "Injured" %}</th>
                                    <th>{% trans "Abducted" %}</th>
                                    <th>{% trans "Incident" %}</th>
                                    <th>{% trans "HPA" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% trans "AOG_Attack" %}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Description Table Killed</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="3">{% trans "Incident Type" %}</th>
                                    <th rowspan="3">{% trans "Incident Sub Type" %}</th>
                                    <th colspan="7">{% trans "Killed" %}</th>
                                </tr>
                                <tr>
                                    <th>{% trans "Civilians" %}</th>
                                    <th>{% trans "ANP" %}</th>
                                    <th>{% trans "ANA/ANSF" %}</th>
                                    <th>{% trans "IM" %}</th>
                                    <th>{% trans "PGM/ALP" %}</th>
                                    <th>{% trans "AOG" %}</th>
                                    <th>{% trans "ISKP" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% trans "AOG_Attack" %}</td>
                                    <td>{% trans "Checkpoint Attack" %}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Description Table Injured</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="3">{% trans "Incident Type" %}</th>
                                    <th rowspan="3">{% trans "Incident Sub Type" %}</th>
                                    <th colspan="7">{% trans "Injured" %}</th>
                                </tr>
                                <tr>
                                    <th>{% trans "Civilians" %}</th>
                                    <th>{% trans "ANP" %}</th>
                                    <th>{% trans "ANA/ANSF" %}</th>
                                    <th>{% trans "IM" %}</th>
                                    <th>{% trans "CDF/ATM/ALP" %}</th>
                                    <th>{% trans "AOG" %}</th>
                                    <th>{% trans "ISKP" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jacob</td>
                                    <td>Photoshop</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Description Table Killed</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="3">{% trans "Incident Type" %}</th>
                                    <th rowspan="3">{% trans "Incident Sub Type" %}</th>
                                    <th colspan="5">{% trans "Abducted" %}</th>
                                </tr>
                                <tr>
                                    <th>{% trans "Civilians" %}</th>
                                    <th>{% trans "Field30" %}</th>
                                    <th>{% trans "ANA/ANSF" %}</th>
                                    <th>{% trans "Field32" %}</th>
                                    <th>{% trans "PGM/ALP" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jacob</td>
                                    <td>Photoshop</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "List of Incidents" %}</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Time of Incident" %}</th>
                                    <th>{% trans "Description" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jacob</td>
                                    <td>Photoshop</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, quia. Recusandae, distinctio? Numquam, aliquam harum? Asperiores porro doloribus pariatur aspernatur quasi illo? Molestias commodi voluptatum ex doloribus tempore voluptas mollitia!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Description Table</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Time of Incident" %}</th>
                                    <th>{% trans "Police District" %}</th>
                                    <th>{% trans "Incident Type" %}</th>
                                    <th>{% trans "Description" %}</th>
                                    <th>{% trans "HPA" %}</th>
                                    <th>{% trans "Initiator" %}</th>
                                    <th>{% trans "Target" %}</th>
                                    <th>{% trans "Casualties" %}</th>
                                    <th>{% trans "Killed" %}</th>
                                    <th>{% trans "Injured" %}</th>
                                    <th>{% trans "Abducted" %}</th>
                                    <th>{% trans "Total" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jacob</td>
                                    <td>Photoshop</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Description Table</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="3">{% trans "Incident Type" %}</th>
                                    <th rowspan="3">{% trans "Incident Sub Type" %}</th>
                                    <th rowspan="3">{% trans "Police District" %}</th>
                                    <th rowspan="3">{% trans "HPA" %}</th>
                                    <th rowspan="3">{% trans "Initiator" %}</th>
                                    <th rowspan="3">{% trans "Target" %}</th>
                                    <th colspan="19">{% trans "Casualties" %}</th>
                                    <th rowspan="3">{% trans "Total Incidents" %}</th>
                                </tr>
                                <tr>
                                    <th colspan="7">{% trans "Killed" %}</th>
                                    <th colspan="7">{% trans "Injured" %}</th>
                                    <th colspan="5">{% trans "Abducted" %}</th>
                                </tr>
                                <tr>
                                    <th>{% trans "Civilians" %}</th>
                                    <th>{% trans "ANP" %}</th>
                                    <th>{% trans "ANA/ANSF" %}</th>
                                    <th>{% trans "IM" %}</th>
                                    <th>{% trans "PGM/ALP" %}</th>
                                    <th>{% trans "AOG" %}</th>
                                    <th>{% trans "ISKP" %}</th>
                                
                                    <th>{% trans "Civilians" %}</th>
                                    <th>{% trans "ANP" %}</th>
                                    <th>{% trans "ANA/ANSF" %}</th>
                                    <th>{% trans "IM" %}</th>
                                    <th>{% trans "CDF/ATM/ALP" %}</th>
                                    <th>{% trans "AOG" %}</th>
                                    <th>{% trans "ISKP" %}</th>
                                
                                    <th>{% trans "Civilians" %}</th>
                                    <th>{% trans "Field30" %}</th>
                                    <th>{% trans "ANA/ANSF" %}</th>
                                    <th>{% trans "Field32" %}</th>
                                    <th>{% trans "PGM/ALP" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jacob</td>
                                    <td>Photoshop</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content_dashboard %}

{% block dashboard_script %}
    
{% endblock dashboard_script %}