{% extends "_base.html" %}    
{% load i18n %}
{% load  static %}

{% block content %}
    {% if not 'print' in request.path %}
        {% block navbar %}
            {% include "_navbar.html" %}
        {% endblock navbar %}
    {% endif %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        {% if not 'print' in request.path %}
            {% block sidebar %}
                {% include "_sidebar.html" %}
            {% endblock sidebar %}
        {% endif %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                {% block content_dashboard %}
                {% endblock content_dashboard %}
            </div>
            <!-- content-wrapper ends -->
            {% block footer %}
            <!-- partial:partials/_footer.html -->
            {% include "_footer.html" %}
            <!-- partial -->
            {% endblock footer %}
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
{% endblock content %}

{% block messages %}
    {% include '_messages.html' with messages=messages %}
{% endblock %}

{% block extra_script %}
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <!-- endinject -->

    {% block dashboard_script %}{% endblock dashboard_script %}
{% endblock extra_script %}