{% load i18n %}
{% load static %}
{% load giz_tags %}

{% block content_dashboard %}
    <div>
        {% include "dashboard/select_region.html" %}
    </div>
    <div class="row">
        <div class="col-lg-3 d-flex grid-margin stretch-card">
            <div class="card sale-diffrence-border">
                <div class="card-body">
                    <h2 class="text-dark mb-2 font-weight-bold">6475</h2>
                    <h4 class="card-title mb-2">{% trans "Total Incidents" %}</h4>
                    <small class="text-muted">APRIL 2020</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex grid-margin stretch-card">
            <div class="card sale-visit-statistics-border">
                <div class="card-body">
                    <h2 class="text-dark mb-2 font-weight-bold">3479</h2>
                    <h4 class="card-title mb-2">{% trans "Total Killed" %}</h4>
                    <small class="text-muted">APRIL 2020</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex grid-margin stretch-card">
            <div class="card sale-diffrence-border">
                <div class="card-body">
                    <h2 class="text-dark mb-2 font-weight-bold">6475</h2>
                    <h4 class="card-title mb-2">{% trans "Total Injured" %}</h4>
                    <small class="text-muted">APRIL 2020</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex grid-margin stretch-card">
            <div class="card sale-visit-statistics-border">
                <div class="card-body">
                    <h2 class="text-dark mb-2 font-weight-bold">3479</h2>
                    <h4 class="card-title mb-2">{% trans "Total Abducted" %}</h4>
                    <small class="text-muted">APRIL 2020</small>
                </div>
            </div>
        </div>

        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "Graph of Incident and Casualties Trend by Incident Type" %}</h4>
                    <div id="{{ chart.polar_incident_type.key }}" class="ch-size polar-chart" data-color="colorSecurity" data-xaxis='{{ chart.polar_incident_type.labels | jsonify }}' data-val='{{ chart.polar_incident_type.data_val | jsonify }}'></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "Select Incident Type" %}</h4>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="switch1">
                            <label class="custom-control-label" for="switch1">{% trans "Select All" %}</label>
                        </div>
                        {% get_current_language_bidi as LANGUAGE_BIDI %}
                        <div id="indicatorType" class="row no-margin child-checkbox">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input checkIncident" id="default1" name="main_incident_select[]" value="default1"> Default
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input checkIncident" id="default2" name="main_incident_select[]" value="default2"> Default
                                    </label>
                                </div>
                            </div>
                            {% for item in row.0.labels_all %}
                                <div class="col s12 {{ LANGUAGE_BIDI | yesno:'rtl, ltr' }}">
                                    <label>
                                        <input type="checkbox" id="{{ row.4 }}{{ forloop.counter0 }}" class="filled-in checkIncident" name="main_{{ row.4 }}_select[]" value="{{ item.name }}" {% if item.selected %}checked=true{% endif %}>
                                        <span>{{ item.name }} ({{ item.count }} incidents)</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "Historical Date of Incidents and Casualties by Incident Type" %}</h4>
                    <div id="spline_{{ chart.spline.key }}" class="ch-size spline-chart" data-color="colorDefault" data-colorpoint="false" data-legend="true" data-yaxis='' data-val='{{ chart.spline.data_val | jsonify }}' ></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Description Table</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover {% if 'print' in request.build_absolute_uri %}print{% else %}online{% endif %}">
                            <thead>
                                <tr>
                                    <th>{% trans "Incident Type" %}</th>
                                    <th>{% trans "Killed" %}</th>
                                    <th>{% trans "Injured" %}</th>
                                    <th>{% trans "Abducted" %}</th>
                                    <th>{% trans "Incident" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in tables.incidents_and_casualties_by_incident_type %}
                                    <tr>
                                        <td>{{ item.incident_name }}</td>
                                        <td>{{ item.killed }}</td>
                                        <td>{{ item.injured }}</td>
                                        <td>{{ item.abducted }}</td>
                                        <td>{{ item.total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card d-none">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Description Table Killed</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="3">{% trans "Incident Type" %}</th>
                                    <th rowspan="3">{% trans "Incident Sub Type" %}</th>
                                    <th colspan="7">{% trans "Killed" %}</th>
                                </tr>
                                <tr>
                                    <th>{% trans "Civilians" %}</th>
                                    <th>{% trans "ANP" %}</th>
                                    <th>{% trans "ANA/ANSF" %}</th>
                                    <th>{% trans "IM" %}</th>
                                    <th>{% trans "PGM/ALP" %}</th>
                                    <th>{% trans "AOG" %}</th>
                                    <th>{% trans "ISKP" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% trans "AOG_Attack" %}</td>
                                    <td>{% trans "Checkpoint Attack" %}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card d-none">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Description Table Injured</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="3">{% trans "Incident Type" %}</th>
                                    <th rowspan="3">{% trans "Incident Sub Type" %}</th>
                                    <th colspan="7">{% trans "Injured" %}</th>
                                </tr>
                                <tr>
                                    <th>{% trans "Civilians" %}</th>
                                    <th>{% trans "ANP" %}</th>
                                    <th>{% trans "ANA/ANSF" %}</th>
                                    <th>{% trans "IM" %}</th>
                                    <th>{% trans "CDF/ATM/ALP" %}</th>
                                    <th>{% trans "AOG" %}</th>
                                    <th>{% trans "ISKP" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jacob</td>
                                    <td>Photoshop</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card d-none">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Description Table Killed</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="3">{% trans "Incident Type" %}</th>
                                    <th rowspan="3">{% trans "Incident Sub Type" %}</th>
                                    <th colspan="5">{% trans "Abducted" %}</th>
                                </tr>
                                <tr>
                                    <th>{% trans "Civilians" %}</th>
                                    <th>{% trans "Field30" %}</th>
                                    <th>{% trans "ANA/ANSF" %}</th>
                                    <th>{% trans "Field32" %}</th>
                                    <th>{% trans "PGM/ALP" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jacob</td>
                                    <td>Photoshop</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "Number of Incident and Casualties Overview" %}</h4>
                    <div class="table-responsive">
                        <table id="" class="table table-bordered table-hover {% if 'print' in request.build_absolute_uri %}print{% else %}online{% endif %}">
                            <thead>
                                <tr>
                                    <th >{% trans "Region" %}</th>
                                    <th class="hum">{% trans "Incidents" %}</th>
                                    <th class="hum">{% trans "Abducted" %}</th>
                                    <th class="hum">{% trans "Injured" %}</th>
                                    <th class="hum">{% trans "Killed" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for parent in tables.number_of_incident_and_casualties_overview.parentdata %}
                                    <tr>
                                        {% for parents in parent %}
                                            <td class="boldRow">{{parents}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                {% for child in tables.number_of_incident_and_casualties_overview.child %}
                                    <tr class="selectable" onclick="jump_url({{data.code}});">
                                        {% for item in child.value %}
                                            <td>{{item}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans "List of Incidents" %}</h4>
                    <p class="card-description">
                        Add description
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover {% if 'print' in request.build_absolute_uri %}print{% else %}online{% endif %}">
                            <thead>
                                <tr>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Time of Incident" %}</th>
                                    <th>{% trans "Description" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in tables.list_of_latest_incidents %}
                                    <tr>
                                        <td>{{ item.Date |date:'M j, Y' }}</td>
                                        <td>{{ item.Time_of_Incident }}</td>
                                        <td>{{ item.Description_of_Incident }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content_dashboard %}

{% block dashboard_script %}
    
{% endblock dashboard_script %}