{% load i18n %}
{% load widget_tweaks %}

    {% comment %}
    <div class="form-group">
        {{ form.Shape.label_tag }}
        <div class="custom-file">
            {{ form.Shape|add_class:"custom-file-input" }}
            <label class="custom-file-label" for="{{ form.Shape.id_for_label }}">Choose file</label>
        </div>
    </div>
    {% endcomment %}

    <h4 class="card-title font-weight-bold display-5">{% trans 'Identification' %}</h4>
    <div class="form-row">
        <div class="form-group col-12 col-md-4 col-lg-3">
            {{ form.Incident_Source.label_tag }}
            {{ form.Incident_Source|add_class:"form-control" }}
            {% for error in form.Incident_Source.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Incident_Source.help_text %}
                <small class="form-text text-muted">{{ form.Incident_Source.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col">
            {{ form.Single_ID.label_tag }}
            {{ form.Single_ID|add_class:"form-control" }}
            {% for error in form.Single_ID.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Single_ID.help_text %}
                <small class="form-text text-muted">{{ form.Single_ID.help_text }}</small>
            {% endif %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            {{ form.Date.label_tag }}
            {{ form.Date|add_class:"form-control" }}
            {% for error in form.Date.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Date.help_text %}
                <small class="form-text text-muted">{{ form.Date.help_text }}</small>
            {% endif %}
        </div>
    
        <div class="form-group col-12 col-md-6">
            {{ form.Time_of_Incident.label_tag }}
            {{ form.Time_of_Incident|add_class:"form-control" }}
            {% for error in form.Time_of_Incident.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Time_of_Incident.help_text %}
                <small class="form-text text-muted">{{ form.Time_of_Incident.help_text }}</small>
            {% endif %}
        </div>
    </div>

    <br>
    <h4 class="card-title font-weight-bold display-5">{% trans 'Area' %}</h4>
    <div class="form-row">
        <div class="form-group col-12 col-md">
            {{ form.Province.label_tag }}
            {{ form.Province|add_class:"form-control" }}
            {% for error in form.Province.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Province.help_text %}
                <small class="form-text text-muted">{{ form.Province.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-12 col-md">
            {{ form.District.label_tag }}
            {{ form.District|add_class:"form-control" }}
            {% for error in form.District.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.District.help_text %}
                <small class="form-text text-muted">{{ form.District.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-12 col-md">
            {{ form.City_Village.label_tag }}
            {{ form.City_Village|add_class:"form-control" }}
            {% for error in form.City_Village.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.City_Village.help_text %}
                <small class="form-text text-muted">{{ form.City_Village.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-12 col-md">
            {{ form.Area.label_tag }}
            {{ form.Area|add_class:"form-control" }}
            {% for error in form.Area.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Area.help_text %}
                <small class="form-text text-muted">{{ form.Area.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-12 col-md">
            {{ form.Police_District.label_tag }}
            {{ form.Police_District|add_class:"form-control" }}
            {% for error in form.Police_District.errors %}
                    <small class="form-text text-danger">{{ error }}</small>
                {% endfor %}
            {% if form.Police_District.help_text %}
                <small class="form-text text-muted">{{ form.Police_District.help_text }}</small>
            {% endif %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            {{ form.Latitude.label_tag }}
            {{ form.Latitude|add_class:"form-control" }}
            {% for error in form.Latitude.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Latitude.help_text %}
                <small class="form-text text-muted">{{ form.Latitude.help_text }}</small>
            {% endif %}
        </div>
    
        <div class="form-group col">
            {{ form.Longitude.label_tag }}
            {{ form.Longitude|add_class:"form-control" }}
            {% for error in form.Longitude.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Longitude.help_text %}
                <small class="form-text text-muted">{{ form.Longitude.help_text }}</small>
            {% endif %}
        </div>
    </div>

    <br>
    <h4 class="card-title font-weight-bold display-5">{% trans 'Details Incident' %}</h4>
    <div class="form-row">
        <div class="form-group col-12 col-md">
            {{ form.Incident_Type.label_tag }}
            {{ form.Incident_Type|add_class:"form-control" }}
            {% for error in form.Incident_Type.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Incident_Type.help_text %}
                <small class="form-text text-muted">{{ form.Incident_Type.help_text }}</small>
            {% endif %}
        </div>
    
        <div class="form-group col-12 col-md">
            {{ form.Incident_Subtype.label_tag }}
            {{ form.Incident_Subtype|add_class:"form-control" }}
            {% for error in form.Incident_Subtype.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Incident_Subtype.help_text %}
                <small class="form-text text-muted">{{ form.Incident_Subtype.help_text }}</small>
            {% endif %}
        </div>

        <div class="form-group col-12 col-md-2">
            {{ form.HPA.label_tag }}
            {{ form.HPA|add_class:"form-control" }}
            {% for error in form.HPA.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.HPA.help_text %}
                <small class="form-text text-muted">{{ form.HPA.help_text }}</small>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        {{ form.Description_of_Incident.label_tag }}
        {{ form.Description_of_Incident|add_class:"form-control" }}
        {% for error in form.Description_of_Incident.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
        {% if form.Description_of_Incident.help_text %}
            <small class="form-text text-muted">{{ form.Description_of_Incident.help_text }}</small>
        {% endif %}
    </div>

    <div class="form-row">
        <div class="form-group col-12 col-md">
            {{ form.Initiator.label_tag }}
            {{ form.Initiator|add_class:"form-control" }}
            {% for error in form.Initiator.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Initiator.help_text %}
                <small class="form-text text-muted">{{ form.Initiator.help_text }}</small>
            {% endif %}
        </div>
    
        <div class="form-group col-12 col-md">
            {{ form.Target.label_tag }}
            {{ form.Target|add_class:"form-control" }}
            {% for error in form.Target.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Target.help_text %}
                <small class="form-text text-muted">{{ form.Target.help_text }}</small>
            {% endif %}
        </div>
    </div>

    <br>
    <h4 class="card-title font-weight-bold display-5">{% trans 'Casualties' %}</h4>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans 'Group' %}</th>
                    <th>{% trans 'Killed' %}</th>
                    <th>{% trans 'Injured' %}</th>
                    <th>{% trans 'Abducted' %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{% trans 'National' %}</td>
                    <td>
                        {{ form.Kill_Natl|add_class:"form-control" }}
                        {% for error in form.Kill_Natl.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Kill_Natl.help_text %}
                            <small class="form-text text-muted">{{ form.Kill_Natl.help_text }}</small>
                        {% endif %}
                    </td>
                    <td>
                        {{ form.Inj_Natl|add_class:"form-control" }}
                        {% for error in form.Inj_Natl.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Inj_Natl.help_text %}
                            <small class="form-text text-muted">{{ form.Inj_Natl.help_text }}</small>
                        {% endif %}
                    </td>
                    <td>
                        {{ form.Abd_Natl|add_class:"form-control" }}
                        {% for error in form.Abd_Natl.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Abd_Natl.help_text %}
                            <small class="form-text text-muted">{{ form.Abd_Natl.help_text }}</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td scope="row">{% trans 'International' %}</td>
                    <td>
                        {{ form.Kill_Intl|add_class:"form-control" }}
                        {% for error in form.Kill_Intl.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Kill_Intl.help_text %}
                            <small class="form-text text-muted">{{ form.Kill_Intl.help_text }}</small>
                        {% endif %}
                    </td>
                    <td>
                        {{ form.Inj_Intl|add_class:"form-control" }}
                        {% for error in form.Inj_Intl.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Inj_Intl.help_text %}
                            <small class="form-text text-muted">{{ form.Inj_Intl.help_text }}</small>
                        {% endif %}
                    </td>
                    <td>
                        {{ form.Abd_Intl|add_class:"form-control" }}
                        {% for error in form.Abd_Intl.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Abd_Intl.help_text %}
                            <small class="form-text text-muted">{{ form.Abd_Intl.help_text }}</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td scope="row">{% trans 'ANSF' %}</td>
                    <td>
                        {{ form.Kill_ANSF|add_class:"form-control" }}
                        {% for error in form.Kill_ANSF.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Kill_ANSF.help_text %}
                            <small class="form-text text-muted">{{ form.Kill_ANSF.help_text }}</small>
                        {% endif %}
                    </td>
                    <td>
                        {{ form.Inj_ANSF|add_class:"form-control" }}
                        {% for error in form.Inj_ANSF.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Inj_ANSF.help_text %}
                            <small class="form-text text-muted">{{ form.Inj_ANSF.help_text }}</small>
                        {% endif %}
                    </td>
                    <td>
                        {{ form.Abd_ANSF|add_class:"form-control" }}
                        {% for error in form.Abd_ANSF.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Abd_ANSF.help_text %}
                            <small class="form-text text-muted">{{ form.Abd_ANSF.help_text }}</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td scope="row">{% trans 'IM' %}</td>
                    <td>
                        {{ form.Kill_IM|add_class:"form-control" }}
                        {% for error in form.Kill_IM.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Kill_IM.help_text %}
                            <small class="form-text text-muted">{{ form.Kill_IM.help_text }}</small>
                        {% endif %}
                    </td>
                    <td>
                        {{ form.Inj_IM|add_class:"form-control" }}
                        {% for error in form.Inj_IM.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Inj_IM.help_text %}
                            <small class="form-text text-muted">{{ form.Inj_IM.help_text }}</small>
                        {% endif %}
                    </td>
                    <td>
                        {{ form.Abd_IM|add_class:"form-control" }}
                        {% for error in form.Abd_IM.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Abd_IM.help_text %}
                            <small class="form-text text-muted">{{ form.Abd_IM.help_text }}</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td scope="row">{% trans 'ALP PGM' %}</td>
                    <td>
                        {{ form.Kill_ALP_PGM|add_class:"form-control" }}
                        {% for error in form.Kill_ALP_PGM.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Kill_ALP_PGM.help_text %}
                            <small class="form-text text-muted">{{ form.Kill_ALP_PGM.help_text }}</small>
                        {% endif %}
                    </td>
                    <td>
                        {{ form.Inj_ALP_PGM|add_class:"form-control" }}
                        {% for error in form.Inj_ALP_PGM.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Inj_ALP_PGM.help_text %}
                            <small class="form-text text-muted">{{ form.Inj_ALP_PGM.help_text }}</small>
                        {% endif %}
                    </td>
                    <td>
                        {{ form.Abd_ALP_PGM|add_class:"form-control" }}
                        {% for error in form.Abd_ALP_PGM.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Abd_ALP_PGM.help_text %}
                            <small class="form-text text-muted">{{ form.Abd_ALP_PGM.help_text }}</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td scope="row">{% trans 'AOG' %}</td>
                    <td>
                        {{ form.Kill_AOG|add_class:"form-control" }}
                        {% for error in form.Kill_AOG.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Kill_AOG.help_text %}
                            <small class="form-text text-muted">{{ form.Kill_AOG.help_text }}</small>
                        {% endif %}
                    </td>
                    <td>
                        {{ form.Inj_AOG|add_class:"form-control" }}
                        {% for error in form.Inj_AOG.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Inj_AOG.help_text %}
                            <small class="form-text text-muted">{{ form.Inj_AOG.help_text }}</small>
                        {% endif %}
                    </td>
                    <td class="bg-light"></td>
                </tr>
                <tr>
                    <td scope="row">{% trans 'ISKP' %}</td>
                    <td>
                        {{ form.Kill_ISKP|add_class:"form-control" }}
                        {% for error in form.Kill_ISKP.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Kill_ISKP.help_text %}
                            <small class="form-text text-muted">{{ form.Kill_ISKP.help_text }}</small>
                        {% endif %}
                    </td>
                    <td>
                        {{ form.Inj_ISKP|add_class:"form-control" }}
                        {% for error in form.Inj_ISKP.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        {% if form.Inj_ISKP.help_text %}
                            <small class="form-text text-muted">{{ form.Inj_ISKP.help_text }}</small>
                        {% endif %}
                    </td>
                    <td class="bg-light"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    {% comment %}
    <div class="form-row">
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Kill_Natl.label_tag }}
            {{ form.Kill_Natl|add_class:"form-control" }}
            {% for error in form.Kill_Natl.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Kill_Natl.help_text %}
                <small class="form-text text-muted">{{ form.Kill_Natl.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Kill_Intl.label_tag }}
            {{ form.Kill_Intl|add_class:"form-control" }}
            {% for error in form.Kill_Intl.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Kill_Intl.help_text %}
                <small class="form-text text-muted">{{ form.Kill_Intl.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Kill_ANSF.label_tag }}
            {{ form.Kill_ANSF|add_class:"form-control" }}
            {% for error in form.Kill_ANSF.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Kill_ANSF.help_text %}
                <small class="form-text text-muted">{{ form.Kill_ANSF.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Kill_IM.label_tag }}
            {{ form.Kill_IM|add_class:"form-control" }}
            {% for error in form.Kill_IM.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Kill_IM.help_text %}
                <small class="form-text text-muted">{{ form.Kill_IM.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Kill_ALP_PGM.label_tag }}
            {{ form.Kill_ALP_PGM|add_class:"form-control" }}
            {% for error in form.Kill_ALP_PGM.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Kill_ALP_PGM.help_text %}
                <small class="form-text text-muted">{{ form.Kill_ALP_PGM.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Kill_AOG.label_tag }}
            {{ form.Kill_AOG|add_class:"form-control" }}
            {% for error in form.Kill_AOG.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Kill_AOG.help_text %}
                <small class="form-text text-muted">{{ form.Kill_AOG.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Kill_ISKP.label_tag }}
            {{ form.Kill_ISKP|add_class:"form-control" }}
            {% for error in form.Kill_ISKP.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Kill_ISKP.help_text %}
                <small class="form-text text-muted">{{ form.Kill_ISKP.help_text }}</small>
            {% endif %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Inj_Natl.label_tag }}
            {{ form.Inj_Natl|add_class:"form-control" }}
            {% for error in form.Inj_Natl.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Inj_Natl.help_text %}
                <small class="form-text text-muted">{{ form.Inj_Natl.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Inj_Intl.label_tag }}
            {{ form.Inj_Intl|add_class:"form-control" }}
            {% for error in form.Inj_Intl.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Inj_Intl.help_text %}
                <small class="form-text text-muted">{{ form.Inj_Intl.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Inj_ANSF.label_tag }}
            {{ form.Inj_ANSF|add_class:"form-control" }}
            {% for error in form.Inj_ANSF.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Inj_ANSF.help_text %}
                <small class="form-text text-muted">{{ form.Inj_ANSF.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Inj_IM.label_tag }}
            {{ form.Inj_IM|add_class:"form-control" }}
            {% for error in form.Inj_IM.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Inj_IM.help_text %}
                <small class="form-text text-muted">{{ form.Inj_IM.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Inj_ALP_PGM.label_tag }}
            {{ form.Inj_ALP_PGM|add_class:"form-control" }}
            {% for error in form.Inj_ALP_PGM.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Inj_ALP_PGM.help_text %}
                <small class="form-text text-muted">{{ form.Inj_ALP_PGM.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Inj_AOG.label_tag }}
            {{ form.Inj_AOG|add_class:"form-control" }}
            {% for error in form.Inj_AOG.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Inj_AOG.help_text %}
                <small class="form-text text-muted">{{ form.Inj_AOG.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Inj_ISKP.label_tag }}
            {{ form.Inj_ISKP|add_class:"form-control" }}
            {% for error in form.Inj_ISKP.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Inj_ISKP.help_text %}
                <small class="form-text text-muted">{{ form.Inj_ISKP.help_text }}</small>
            {% endif %}
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Abd_Natl.label_tag }}
            {{ form.Abd_Natl|add_class:"form-control" }}
            {% for error in form.Abd_Natl.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Abd_Natl.help_text %}
                <small class="form-text text-muted">{{ form.Abd_Natl.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Abd_Intl.label_tag }}
            {{ form.Abd_Intl|add_class:"form-control" }}
            {% for error in form.Abd_Intl.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Abd_Intl.help_text %}
                <small class="form-text text-muted">{{ form.Abd_Intl.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Abd_ANSF.label_tag }}
            {{ form.Abd_ANSF|add_class:"form-control" }}
            {% for error in form.Abd_ANSF.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Abd_ANSF.help_text %}
                <small class="form-text text-muted">{{ form.Abd_ANSF.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Abd_IM.label_tag }}
            {{ form.Abd_IM|add_class:"form-control" }}
            {% for error in form.Abd_IM.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Abd_IM.help_text %}
                <small class="form-text text-muted">{{ form.Abd_IM.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group col-6 col-md-3 col-xl">
            {{ form.Abd_ALP_PGM.label_tag }}
            {{ form.Abd_ALP_PGM|add_class:"form-control" }}
            {% for error in form.Abd_ALP_PGM.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.Abd_ALP_PGM.help_text %}
                <small class="form-text text-muted">{{ form.Abd_ALP_PGM.help_text }}</small>
            {% endif %}
        </div>
    </div>
    {% endcomment %}

    <div class="form-row">
        
        <!-- <div class="form-group col">
            {{ form.PRMO.label_tag }}
            {{ form.PRMO|add_class:"form-control" }}
            {% for error in form.PRMO.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.PRMO.help_text %}
                <small class="form-text text-muted">{{ form.PRMO.help_text }}</small>
            {% endif %}
        </div>
    
        <div class="form-group col">
            {{ form.UNDSS.label_tag }}
            {{ form.UNDSS|add_class:"form-control" }}
            {% for error in form.UNDSS.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.UNDSS.help_text %}
                <small class="form-text text-muted">{{ form.UNDSS.help_text }}</small>
            {% endif %}
        </div>
    
        <div class="form-group col">
            {{ form.INSO.label_tag }}
            {{ form.INSO|add_class:"form-control" }}
            {% for error in form.INSO.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% if form.INSO.help_text %}
                <small class="form-text text-muted">{{ form.INSO.help_text }}</small>
            {% endif %}
        </div> -->
    </div>
