

<label for="hpa">HPA:</label>
<select id="hpa" class="hpa-dropdown" data-placeholder="Select HPA">
    <option value="all" {% if filters.hpa.selected == 'all' %}selected{% endif %}>-</option>
    {% for option in filters.hpa.options %}
    <option value="{{ option }}" {% if filters.hpa.selected == option %}selected{% endif %}>{{ option|title }}</option>
    {% endfor %}
</select>

<script>
    document.addEventListener('DOMContentLoaded', function(){

        $('.hpa-dropdown').select2({
            dropdownAutoWidth: true,
            placeholder: "Select HPA"
        });
        $('.hpa-dropdown').on('select2-selecting', function (e) {
            var url = $(location).attr("href");
            
            if (getParameterByName("hpa") == null){
                url += '&hpa='+e.val;
            }
            else {
                url = updateUrlParameter(url, 'hpa', e.val)
            }

            if (e.val == 'all') {
                url = removeParam('hpa', url)
            }

            window.document.location = url
        });

    });
</script>