<label for="prmo_loc">PRMO Location:</label>
<select id="prmo_loc" class="prmo-dropdown" data-placeholder="Select PRMO Office">
    <option value="all" {% if filters.prmo_loc.selected == 'all' %}selected{% endif %}>-</option>
    {% for option in filters.prmo_loc.options %}
        <option value="{{ option.name }}" {% if filters.prmo_loc.selected == option.name %}selected{% endif %}>{{ option.name|upper }}</option>
    {% endfor %}
</select>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        
        // Event handler for single prmo_loc
        $('.prmo-dropdown').select2({
            dropdownAutoWidth: true,
            placeholder: "Select PRMO Office"
        });
        $('.prmo-dropdown').on('select2-selecting', function (e) {
            var url = $(location).attr("href");
            
            if (getParameterByName("prmo_loc") != null){
                url = removeParam('prmo_loc', url)
            }
            url += '&prmo_loc='+e.val;

            if (e.val == 'all') {
                url = removeParam('prmo_loc', url)
            }

            window.document.location = url
        });
    });
</script>