{% load giz_tags %}

    <ol class="breadcrumb bg-transparent" style="line-height: 28px;">
        {% if not 'print' in request.path %}
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Afghanistan</a></li>
        {% else %}
            <li class="breadcrumb-item">Afghanistan</li>
        {% endif %}

        {% for k, i in region.items %}
            {% if not 'print' in request.path %}
                <li class="breadcrumb-item">
                    <select class="area-dropdown {{i.type}}" data-placeholder="Select {{i.type}}">
                        {% if not i.selected %}
                        <option></option>
                        {% endif %}
                        {% for value in i.data_val %}
                            <option value="{{i.urlcode}}={{ value.id }}" {% if value.id == i.selected %}selected="selected"{% endif %}>{{  value.name }}</option>
                        {% endfor %}
                    </select>
                </li>
            {% else %}
                {% for value in i.data_val %}
                    {% if value.id == i.selected %}
                    <li class="breadcrumb-item">
                        {{  value.name }}
                    </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ol>

<script>
    function select2_region(){
        $('.area-dropdown').select2({
            dropdownAutoWidth: true,
        });
        $('.area-dropdown').on('select2-selecting', function (e) {
            jump_url(e.val);
        });
    }
</script>