

<label for="initiator">Initiator:</label>
<select id="initiator" class="initiator-dropdown" data-placeholder="Select Initiator">
    <option value="all" {% if filters.initiator.selected == 'all' %}selected{% endif %}>-</option>
    {% for option in filters.initiator.options %}
    <option value="{{ option.id }}" {% if filters.initiator.selected == option.id %}selected{% endif %}>{{ option.code }}</option>
    {% endfor %}
</select>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        // Event handler for initiator
        $('.initiator-dropdown').select2({
            dropdownAutoWidth: true,
            placeholder: "Select Initiator"
        });
        $('.initiator-dropdown').on('select2-selecting', function (e) {
            var url = $(location).attr("href");
            if (e.val == 'all') {
                url = removeParam(e.target.id, url)
            }
            else {
                url = updateUrlParameter(url, e.target.id, e.val)
            }
            window.document.location = url;
        });
    });
</script>