{% extends "dashboard/dashboard_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content_dashboard %}
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="float-right">
                        <a href="{% url 'dashboard' %}?page=dashboard" class="btn btn-outline-primary" role="button">{% trans "Back to Dashboard" %}</a>
                        <a href="{% url 'inputdashboard' %}" class="btn btn-primary" role="button">{% trans "Add Another Data" %}</a>
                    </div>
                    <h4 class="card-title">{% trans "Data Saved - UNDSS Detail" %}</h4>

                    <br>
                    <h5 class="mb-2 font-weight-bold">{% trans "Identification" %}</h5>
                    <hr class="mt-0">
                    <dl class="row">
                        <dt class="col-sm-3 text-right">{% trans "Shape" %}</dt>
                        <dd class="col-sm-9 mb-4">{{ object.Shape }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "Data Entry No" %}</dt>
                        <dd class="col-sm-9">{{ object.Single_ID }}</dd>


                        <dt class="col-sm-3 text-right">{% trans "Date" %}</dt>
                        <dd class="col-sm-9">{{ object.Date }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "Time of Incident" %}</dt>
                        <dd class="col-sm-9">{{ object.Time_of_Incident }}</dd>

                        <dt class="col-sm-3 text-right">{% trans "Latitude" %}</dt>
                        <dd class="col-sm-9">{{ object.Latitude }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "Longitude" %}</dt>
                        <dd class="col-sm-9">{{ object.Longitude }}</dd>
                    </dl>

                    <h5 class="mb-2 font-weight-bold">{% trans "Area" %}</h5>
                    <hr class="mt-0">
                    <dl class="row">
                        <dt class="col-sm-3 text-right">{% trans "Province" %}</dt>
                        <dd class="col-sm-9">{{ object.Province }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "District" %}</dt>
                        <dd class="col-sm-9">{{ object.District }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "City Village" %}</dt>
                        <dd class="col-sm-9">{{ object.City_Village }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "Area" %}</dt>
                        <dd class="col-sm-9">{{ object.Area }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "Police District" %}</dt>
                        <dd class="col-sm-9">{{ object.Police_District }}</dd>
                    </dl>

                    <h5 class="mb-2 font-weight-bold">{% trans "Details Incident" %}</h5>
                    <hr class="mt-0">
                    <dl class="row">
                        <dt class="col-sm-3 text-right">{% trans "Incident Type" %}</dt>
                        <dd class="col-sm-9">{{ object.Incident_Type }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "Incident Subtype" %}</dt>
                        <dd class="col-sm-9">{{ object.Incident_Subtype }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "Description of Incident" %}</dt>
                        <dd class="col-sm-9">{{ object.Description_of_Incident }}</dd>
                    </dl>

                    <dl class="row">
                        <dt class="col-sm-3 text-right">{% trans "HPA" %}</dt>
                        <dd class="col-sm-9">{{ object.HPA }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "Initiator" %}</dt>
                        <dd class="col-sm-9">{{ object.Initiator }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "Target" %}</dt>
                        <dd class="col-sm-9">{{ object.Target }}</dd>
                    </dl>

                    <h5 class="mb-2 font-weight-bold">{% trans "Casualties" %}</h5>
                    <hr class="mt-0">
                    <dl class="row">
                        <dt class="col-sm-3 text-right">{% trans "Killed" %}</dt>
                        <dd class="col-sm-9">{{ object.killed }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "Injured" %}</dt>
                        <dd class="col-sm-9">{{ object.Injured }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "Abducted" %}</dt>
                        <dd class="col-sm-9">{{ object.Abducted }}</dd>
                    </dl>

                    <dl class="row">
                        <dt class="col-sm-3 text-right">{% trans "PRMO" %}</dt>
                        <dd class="col-sm-9">{{ object.PRMO }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "UNDSS" %}</dt>
                        <dd class="col-sm-9">{{ object.UNDSS }}</dd>
                        <dt class="col-sm-3 text-right">{% trans "INSO" %}</dt>
                        <dd class="col-sm-9">{{ object.INSO }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock content_dashboard %}

